### <p align=center> **ETL - DATASETS_HOSTS** <p>

In [83]:
# We import Pandas to work the Dataframes

import pandas as pd

In [85]:
#Step 1 : We import the CSV files, with the streaming Hosts

df_amazon = pd.read_csv("Datasets_Hosts/amazon_prime_titles.csv")
df_disney = pd.read_csv("Datasets_Hosts/disney_plus_titles.csv")
df_hulu = pd.read_csv("Datasets_Hosts/hulu_titles.csv")
df_netflix = pd.read_csv("Datasets_Hosts/netflix_titles.csv")

In [86]:
#Step 2.a: We verify the correct import of the Dataset: Amazon
df_amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [87]:
#Step 2.b: We verify the correct import of the Dataset: Disney
df_disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [88]:
#Step 2.c: We verify the correct import of the Dataset: hulu
df_hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [89]:
#Step 2.d: We verify the correct import of the Dataset: netflix
df_netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [90]:
#Step 3.a: We review the information of the Dataset: Amazon
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [91]:
#Step 3.b: We review the information of the Dataset: Disney
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [92]:
#Step 3.c : We review the information of the Dataset: Hulu
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [93]:
#Step 3.d: We review the information of the Dataset: Netflix
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [94]:
#Step 4.a : Create the 'id' column for Dataset : Amazon

df_amazon['id'] = 'a' + df_amazon['show_id']

df_amazon['id'] # Check the column

0          as1
1          as2
2          as3
3          as4
4          as5
         ...
9663    as9664
9664    as9665
9665    as9666
9666    as9667
9667    as9668
Name: id, Length: 9668, dtype: object

In [95]:
#Step 4.b : Create the 'id' column for Dataset : Disney

df_disney['id'] = 'd' + df_disney['show_id']

df_disney['id'] # Check the column

0          ds1
1          ds2
2          ds3
3          ds4
4          ds5
         ...
1445    ds1446
1446    ds1447
1447    ds1448
1448    ds1449
1449    ds1450
Name: id, Length: 1450, dtype: object

In [96]:
#Step 4.c : Create the 'id' column for Dataset : Hulu

df_hulu['id'] = 'h' + df_hulu['show_id']

df_hulu['id'] # Check the column

0          hs1
1          hs2
2          hs3
3          hs4
4          hs5
         ...
3068    hs3069
3069    hs3070
3070    hs3071
3071    hs3072
3072    hs3073
Name: id, Length: 3073, dtype: object

In [97]:
#Step 4.d : We create the 'id' column for Dataset : Neftlix

df_netflix['id'] = 'n' + df_netflix['show_id']

df_netflix['id'] # Check the column

0          ns1
1          ns2
2          ns3
3          ns4
4          ns5
         ...
8802    ns8803
8803    ns8804
8804    ns8805
8805    ns8806
8806    ns8807
Name: id, Length: 8807, dtype: object

In [98]:
#STEP 5: We replace null values ​​of the 'rating' field with the letter G
#        (G = "General for all audiences")

In [99]:
#Step 5.a : Replace the 'rating' column for Dataset : Amazon 
df_amazon['rating'].fillna('G',inplace=True)
df_amazon['rating'] # Check the column

0           G
1         13+
2           G
3           G
4           G
        ...
9663       7+
9664      13+
9665        R
9666    TV-MA
9667        R
Name: rating, Length: 9668, dtype: object

In [100]:
#Step 5.b : Replace the 'rating' column for Dataset : Disney
df_disney['rating'].fillna('G',inplace=True)
df_disney['rating'] # Check the column

0        TV-G
1          PG
2        TV-G
3       TV-PG
4           G
        ...
1445    PG-13
1446       PG
1447    PG-13
1448    PG-13
1449     TV-G
Name: rating, Length: 1450, dtype: object

In [101]:
#Step 5.c : Replace the 'rating' column for Dataset : Hulu
df_hulu['rating'].fillna('G',inplace=True)
df_hulu['rating'] # Check the column

0       TV-MA
1           G
2       PG-13
3           R
4           G
        ...
3068    TV-PG
3069    TV-PG
3070    TV-14
3071    TV-PG
3072    TV-14
Name: rating, Length: 3073, dtype: object

In [102]:
#Step 5.d : Replace the 'rating' column for Dataset : Netflix
df_netflix['rating'].fillna('G',inplace=True)
df_netflix['rating'] # Check the column

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8807, dtype: object

In [103]:
#STEP 6 : We normalize the format of the dates to: 'YYYY-MM-DD'

In [104]:
#Step 6.a : Normalize the format of the 'date_added' column
#           for Dataset : Amazon
df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'])
df_amazon['date_added'] # Check the column

0      2021-03-30
1      2021-03-30
2      2021-03-30
3      2021-03-30
4      2021-03-30
          ...
9663          NaT
9664          NaT
9665          NaT
9666          NaT
9667          NaT
Name: date_added, Length: 9668, dtype: datetime64[ns]

In [105]:
#Step 6.b : We normalize the format of the 'date_added' column
#           for Dataset : Disney
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'])
df_disney['date_added'] # Check the column

0      2021-11-26
1      2021-11-26
2      2021-11-26
3      2021-11-26
4      2021-11-25
          ...
1445   2021-06-04
1446   2021-04-02
1447   2020-12-18
1448   2020-09-18
1449   2020-04-01
Name: date_added, Length: 1450, dtype: datetime64[ns]

In [106]:
#Step 6.c : We normalize the format of the 'date_added' column
#           for Dataset : Hulu
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'])
df_hulu['date_added'] # Check the column

0      2021-10-24
1      2021-10-23
2      2021-10-23
3      2021-10-22
4      2021-10-22
          ...
3068          NaT
3069          NaT
3070          NaT
3071          NaT
3072          NaT
Name: date_added, Length: 3073, dtype: datetime64[ns]

In [107]:
#Step 6.d : We normalize the format of the 'date_added' column
#           for Dataset : Netflix
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'])
df_netflix['date_added'] # Check the column

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [108]:
#STEP 7: We modify the 'txt' fields so that they are all in lower case

In [109]:
#Step 7.a : We modify the 'txt' fields to lower case for the
#           Dataset : Amazon
df_amazon['type'] = df_amazon['type'].str.lower()
df_amazon['title'] = df_amazon['title'].str.lower()
df_amazon['director'] = df_amazon['director'].str.lower()
df_amazon['cast'] = df_amazon['cast'].str.lower()
df_amazon['country'] = df_amazon['country'].str.lower()
df_amazon['rating'] = df_amazon['rating'].str.lower()
df_amazon['duration'] = df_amazon['duration'].str.lower()
df_amazon['listed_in'] = df_amazon['listed_in'].str.lower()
df_amazon['description'] = df_amazon['description'].str.lower()

In [110]:
#Step 7.b : We modify the 'txt' fields to lower case for the
#           Dataset : Disney
df_disney['type'] = df_disney['type'].str.lower()
df_disney['title'] = df_disney['title'].str.lower()
df_disney['director'] = df_disney['director'].str.lower()
df_disney['cast'] = df_disney['cast'].str.lower()
df_disney['country'] = df_disney['country'].str.lower()
df_disney['rating'] = df_disney['rating'].str.lower()
df_disney['duration'] = df_disney['duration'].str.lower()
df_disney['listed_in'] = df_disney['listed_in'].str.lower()
df_disney['description'] = df_disney['description'].str.lower()

In [111]:
#Step 7.c : We modify the 'txt' fields to lower case for the
#           Dataset : Hulu
df_hulu['type'] = df_hulu['type'].str.lower()
df_hulu['title'] = df_hulu['title'].str.lower()
df_hulu['director'] = df_hulu['director'].str.lower()
df_hulu['country'] = df_hulu['country'].str.lower()
df_hulu['rating'] = df_hulu['rating'].str.lower()
df_hulu['duration'] = df_hulu['duration'].str.lower()
df_hulu['listed_in'] = df_hulu['listed_in'].str.lower()
df_hulu['description'] = df_hulu['description'].str.lower()

In [112]:
#Step 7.d : We modify the 'txt' fields to lowercase for the
#           Dataset : Netflix
df_netflix['type'] = df_netflix['type'].str.lower()
df_netflix['title'] = df_netflix['title'].str.lower()
df_netflix['director'] = df_netflix['director'].str.lower()
df_netflix['cast'] = df_netflix['cast'].str.lower()
df_netflix['country'] = df_netflix['country'].str.lower()
df_netflix['rating'] = df_netflix['rating'].str.lower()
df_netflix['duration'] = df_netflix['duration'].str.lower()
df_netflix['listed_in'] = df_netflix['listed_in'].str.lower()
df_netflix['description'] = df_netflix['description'].str.lower()

In [113]:
#STEP 8 : We divide the duration field into 2 ('duration_int' and 'duration_type'

In [114]:
#Step 8.a : We divide the duration field in 2 for the Dataset : Amazon
df_amazon['duration'] = df_amazon['duration'].str.replace(r'', '')
df_amazon[['duration_int','duration_type']] = df_amazon['duration'].str.split(expand=True)
df_amazon #We check Amazon Dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,movie,pride of the bowery,joseph h. lewis,"leo gorcey, bobby jordan",NaN,NaT,1940,7+,60 min,comedy,new york city street principles get an east si...,as9664,60,min
9664,s9665,tv show,planet patrol,NaN,"dick vosburgh, ronnie stevens, libby morris, m...",NaN,NaT,2018,13+,4 seasons,tv shows,"this is earth, 2100ad - and these are the adve...",as9665,4,seasons
9665,s9666,movie,outpost,steve barker,"ray stevenson, julian wadham, richard brake, m...",NaN,NaT,2008,r,90 min,action,"in war-torn eastern europe, a world-weary grou...",as9666,90,min
9666,s9667,tv show,maradona: blessed dream,NaN,"esteban recagno, ezequiel stremiz, luciano vit...",NaN,NaT,2021,tv-ma,1 season,"drama, sports","the series tells the story of diego maradona, ...",as9667,1,season
9667,s9668,movie,harry brown,daniel barber,"michael caine, emily mortimer, joseph gilgun, ...",NaN,NaT,2010,r,103 min,"action, drama, suspense","harry brown, starring two-time academy award w...",as9668,103,min

In [115]:
#Step 8.b : We divide the duration field in 2 for the Dataset : Disney 
df_disney['duration'] = df_disney['duration'].str.replace(r'', '')
df_disney[['duration_int','duration_type']] = df_disney['duration'].str.split(expand=True)
df_disney #We check Disney Dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,ds1,23,min
1,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,ds2,91,min
2,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3,23,min
3,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!",ds4,41,min
4,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5,1,season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,movie,x-men origins: wolverine,gavin hood,"hugh jackman, liev schreiber, danny huston, wi...","united states, united kingdom",2021-06-04,2009,pg-13,108 min,"action-adventure, family, science fiction",wolverine unites with legendary x-men to fight...,ds1446,108,min
1446,s1447,movie,night at the museum: battle of the smithsonian,shawn levy,"ben stiller, amy adams, owen wilson, hank azar...","united states, canada",2021-04-02,2009,pg,106 min,"action-adventure, comedy, family",larry daley returns to rescue some old friends...,ds1447,106,min
1447,s1448,movie,eddie the eagle,dexter fletcher,"tom costello, jo hartley, keith allen, dickon ...","united kingdom, germany, united states",2020-12-18,2016,pg-13,107 min,"biographical, comedy, drama","true story of eddie edwards, a british ski-jum...",ds1448,107,min
1448,s1449,movie,bend it like beckham,gurinder chadha,"parminder nagra, keira knightley, jonathan rhy...","united kingdom, germany, united states",2020-09-18,2003,pg-13,112 min,"buddy, comedy, coming of age",despite the wishes of their traditional famili...,ds1449,112,min
1449,s1450,movie,captain sparky vs. the flying saucers,mark waring,charlie tahan,united states,2020-04-01,2012,tv-g,2 min,"action-adventure, animals & nature, animation",view one of sparky's favorite home movies.,ds1450,2,min

In [116]:
#Step 8.c : We divide the duration field in 2 for the Dataset : Hulu
df_hulu['duration'] = df_hulu['duration'].str.replace(r'', '')
df_hulu[['duration_int','duration_type']] = df_hulu['duration'].str.split(expand=True)
df_hulu #We check Hulu Dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1,NaN,NaN
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2,94,min
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3,108,min
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...,hs4,97,min
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5,104,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,tv show,star trek: the original series,NaN,NaN,united states,NaT,1966,tv-pg,3 seasons,"action, adventure, classics",the 23rd century adventures of captain james t...,hs3069,3,seasons
3069,s3070,tv show,star trek: voyager,NaN,NaN,united states,NaT,1997,tv-pg,7 seasons,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hs3070,7,seasons
3070,s3071,tv show,the fades,NaN,NaN,united kingdom,NaT,2011,tv-14,1 season,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hs3071,1,season
3071,s3072,tv show,the twilight zone,NaN,NaN,united states,NaT,1959,tv-pg,5 seasons,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hs3072,5,seasons
3072,s3073,tv show,tokyo magnitude 8.0,NaN,NaN,japan,NaT,2009,tv-14,1 season,"anime, drama, international",the devastation is unleashed in the span of se...,hs3073,1,season

In [117]:
#Step 8.d : We divide the duration field in 2 for the Dataset: Neftlix
df_netflix['duration'] = df_netflix['duration'].str.replace(r'', '')
df_netflix[['duration_int','duration_type']] = df_netflix['duration'].str.split(expand=True)
df_netflix #We check Netflix Dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",ns1,90,min
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2,2,seasons
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,ns3,1,season
3,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",ns4,1,season
4,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,ns5,2,seasons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158,min
8803,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2,seasons
8804,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88,min
8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min
8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min

In [118]:
#Step 9 : We create a Variable that contains the 4 unified datasets
df_completo = pd.concat([df_amazon , df_disney , df_hulu , df_netflix])

In [119]:
#Step 10 : We transform the data type of the column "duration_int"
#          to integer:
df_completo['duration_int'] = df_completo['duration_int'].astype("Int64")

#Verify that the transformation has been done:
print(df_completo['duration_int'].dtype)

Int64

In [120]:
#Step 11 : We review the data types in each column:
print(df_completo.dtypes)

show_id                  object
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
duration                 object
listed_in                object
description              object
id                       object
duration_int              Int64
duration_type            object
dtype: object

In [121]:
#Step 12 : We remove the columns that are redundant
df_completo = df_completo.drop(columns= ["show_id", "duration"])

In [122]:
#Step 13 : We review the final dataset
df_completo

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,duration_int,duration_type
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158,min
8803,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2,seasons
8804,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88,min
8805,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min
8806,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min

In [123]:
#Step 14: We export the file to a new CSV:
df_completo.to_csv("Datasets_Hosts/df_total_hosts.csv", index=False)